* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  background-color: #f7f7f7;
  color: #000324;
}

h1,
h2 {
  margin: 0px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Pacifico", cursive;
}

h1 {
  font-size: 48px;
  line-height: 86px;
}

h2 {
  font-size: 24px;
  line-height: 43px;
}

p {
  margin: 15px auto 15px auto;
}

a {
  width: 100%;
  text-decoration: none;
  color: #fd4a0d;
  text-align: center;
  font-weight: 500;
  transition-property: "color";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
a:visited {
  color: #bc3102;
}
a:hover, a:active {
  color: #fe8359;
  transition-property: "color";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

strong {
  font-weight: 600;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.headline {
  color: white;
  text-shadow: 1px 1px 2px #000324;
}

.text-success {
  color: #00cc66;
}

.text-cursive {
  font-family: "Pacifico", cursive;
}

@keyframes backInDown {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animation-backInDown {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: backInDown;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.animation-bounceIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-duration: 0.75s;
  animation-duration: 0.75s;
  animation-delay: 0.75s;
  animation-name: bounceIn;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animation-fadeInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animation-fadeInLeft {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

/* -------------------------------- Sections -------------------------------- */
#home,
#about,
#achievement,
#contact {
  max-width: 100%;
  display: flex;
}
#home .section,
#about .section,
#achievement .section,
#contact .section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#home .section .section__text,
#about .section .section__text,
#achievement .section .section__text,
#contact .section .section__text {
  text-align: left;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: 2px;
}
#home .section .section__text p,
#about .section .section__text p,
#achievement .section .section__text p,
#contact .section .section__text p {
  margin-left: 16px;
  margin-right: 16px;
}
#home .section .section__img,
#about .section .section__img,
#achievement .section .section__img,
#contact .section .section__img {
  max-width: 50%;
  max-height: 100%;
}
@media screen and (max-width: 768px) {
  #home .section,
  #about .section,
  #achievement .section,
  #contact .section {
    flex-wrap: wrap;
    height: auto;
    padding: 80px 0 60px 0;
  }
  #home .section .section,
  #about .section .section,
  #achievement .section .section,
  #contact .section .section {
    flex-wrap: wrap;
  }
  #home .section .section__text,
  #about .section .section__text,
  #achievement .section .section__text,
  #contact .section .section__text {
    text-align: center;
    overflow: scroll hidden;
    text-overflow: ellipsis;
  }
  #home .section .section__img,
  #about .section .section__img,
  #achievement .section .section__img,
  #contact .section .section__img {
    width: 100%;
    max-width: 100%;
  }
}

/* -------------------------------- home page ------------------------------- */
#home {
  background-image: url("../images/gradienta-QWutu2BRpOs-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#home .section {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  #home .section {
    flex-wrap: wrap-reverse;
  }
}

/* -------------------------------- about page ------------------------------- */
#about {
  background-color: white;
}
#about .section__text {
  font-weight: 400;
  letter-spacing: 1px;
}

/* ------------------------------ contact page ------------------------------ */
#contact {
  background-image: url("../images/marble-background.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 48px;
  padding-bottom: 48px;
}
#contact .section {
  justify-content: flex-start;
  height: 75vh;
}
#contact p {
  font-size: 24px;
  line-height: 43px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  #contact {
    background-image: url("../images/marble-background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #contact .section {
    height: auto;
    overflow: scroll hidden;
    text-overflow: ellipsis;
  }
}

#achievement {
  background-image: url("../images/student-849825_1920.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}
#achievement .section p {
  text-shadow: 2px 2px 0.5px #000324;
  font-size: 32px;
  line-height: 58px;
}

#achievement::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0;
  filter: blur(2px);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  -o-filter: blur(2px);
  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
}

/* ----------------------------- MAIN NAVIGATION ---------------------------- */
.navbar {
  position: fixed;
  padding-left: 8px;
  padding-right: 8px;
  left: 0;
  right: 0%;
  top: 0;
  z-index: 2;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: transparent;
  position: relative;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 24px;
  font-family: "Pacifico", cursive;
  color: #000324;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline-flex;
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000324;
  white-space: nowrap;
  position: relative;
}
.nav > .nav-links > a.active::before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: rgba(253, 74, 13, 0.5);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 25% 30% 25% 29%;
  padding: 7px 0px 2px 7px;
}
.nav > .nav-links > a:hover {
  color: rgba(253, 74, 13, 0.9);
}
.nav > #nav-check {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label {
    cursor: pointer;
  }
  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: white;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000324;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(199, 241, 255, 0.55);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    font-size: 32px;
    line-height: 58px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* --------------------------- social media layout -------------------------- */
.footer-social {
  display: block;
  margin: 0 auto 0 0;
  padding-bottom: 80px;
}
.footer-social .footer-social__title {
  font-size: 22px;
  line-height: 40px;
}
.footer-social .footer-social__list {
  color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-social .footer-social__list .footer-social__list__item {
  vertical-align: top;
  display: inline;
}
.footer-social .footer-social__list .footer-social__list__link {
  background-color: transparent;
  color: #000324;
  text-decoration: none;
}
.footer-social .footer-social__list .footer-social__list__link .fa-facebook {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-social .footer-social__list .footer-social__list__link .fa-facebook:hover {
  background-color: #3d5b99;
}
.footer-social .footer-social__list .footer-social__list__link .fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-social .footer-social__list .footer-social__list__link .fa-twitter:hover {
  background-color: #00aced;
}
.footer-social .footer-social__list .footer-social__list__link .fa-rss {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-social .footer-social__list .footer-social__list__link .fa-rss:hover {
  background-color: #eb8231;
}
.footer-social .footer-social__list .footer-social__list__link .fa-youtube {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-social .footer-social__list .footer-social__list__link .fa-youtube:hover {
  background-color: #e64a41;
}
.footer-social .footer-social__list .footer-social__list__link .fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-social .footer-social__list .footer-social__list__link .fa-linkedin:hover {
  background-color: #0073a4;
}
.footer-social .footer-social__list .footer-social__list__link .fa-github {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-social .footer-social__list .footer-social__list__link .fa-github:hover {
  background-color: #5a32a3;
}

/*# sourceMappingURL=style.css.map */
