// the default style rules for HTML elements
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
  font-weight: $font-weight-reg;
  @include set-font-size(1);
  background-color: $light;
  color: $body;
}

h1,
h2 {
  margin: 0px;
  font-weight: $font-weight-bold;
  line-height: 52px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Pacifico", cursive;
}

h1 {
  @include set-font-size(3);
}

h2 {
  @include set-font-size(1.5);
}

p {
  margin: ($margin / 2) auto ($margin / 2) auto;
}

a {
  // display: block;
  width: 100%;
  text-decoration: none;
  color: $orange;
  text-align: center;
  font-weight: $font-weight-semibold;
  @include transition("color");
  &:visited {
    color: darken($orange, 15%);
  }
  &:hover,
  &:active {
    color: lighten($orange, 15%);
    @include transition("color");
  }
}
strong {
  font-weight: $font-weight-bold;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}
