// style rules for the web page’s layout

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

/* -------------------------------- Sections -------------------------------- */
#home,
#about,
#achievement,
#contact {
  max-width: 100%;
  display: flex;
  .section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    .section__text {
      text-align: left;
      font-size: 24px;
      line-height: 48px;
      font-weight: $font-weight-semibold;
      letter-spacing: 2px;

      p {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    .section__img {
      max-width: 50%;
      max-height: 100%;
    }

    @include tablet {
      .section {
        flex-wrap: wrap;
      }
      .section__text {
        text-align: center;
        overflow: scroll hidden ;
        text-overflow: ellipsis;
      }
      .section__img {
        width: 100%;
        max-width: 100%;
      }
      flex-wrap: wrap;
      height: auto;
      padding: 80px 0 60px 0;
    }
  }
}

/* -------------------------------- home page ------------------------------- */
#home {
  @include full-background-image(
    "../images/gradienta-QWutu2BRpOs-unsplash.jpg"
  );
  .section {
    flex-direction: row-reverse;
  }
  @include tablet {
    .section {
      flex-wrap: wrap-reverse;
    }
  }
}

/* -------------------------------- about page ------------------------------- */
#about {
  background-color: $white;
  .section__text {
    font-weight: $font-weight-reg;
    letter-spacing: 1px;
  }
}

/* ------------------------------ contact page ------------------------------ */
#contact {
  // flex-direction: column;
  @include full-background-image("../images/marble-background.png");
  padding-top: 48px;
  padding-bottom: 48px;
  .section {
    justify-content: flex-start;
    height: 75vh;
  }
  p {
    @include set-font-size(1.5);
    margin-bottom: 24px;
  }
  @include tablet {
    @include full-background-image("../images/marble-background.jpg");
    .section {
      height: auto;
      overflow: scroll hidden ;
      text-overflow: ellipsis;
    }
  }
}

#achievement {
  @include full-background-image("../images/student-849825_1920.jpg");
  z-index: 1;
  .section {
    p {
      text-shadow: 2px 2px 0.5px opacify($color: $body, $amount: 0.1);
      @include set-font-size(2);
    }
  }
}

#achievement::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0;

  filter: blur(2px);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  -o-filter: blur(2px);

  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
}

/* ----------------------------- MAIN NAVIGATION ---------------------------- */

.navbar {
  position: fixed;
  padding-left: 8px;
  padding-right: 8px;
  left: 0;
  right: 0%;
  top: 0;
  z-index: 2;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: transparent;
  position: relative;
  & > &-header {
    display: inline;
  }
  & > &-header > &-title {
    display: inline-block;
    font-size: 24px;
    font-family: "Pacifico", cursive;
    color: $body;
    padding: 10px 10px 10px 10px;
  }

  & > &-btn {
    display: none;
  }

  & > &-links {
    display: inline-flex;
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $font-weight-reg;
  }

  & > &-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: $body;
    white-space: nowrap;
    position: relative;
  }

  & > &-links > a.active::before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: fade-out($color: $orange, $amount: 0.5);
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 25% 30% 25% 29%;
    padding: 7px 0px 2px 7px;
  }

  & > &-links > a:hover {
    color: fade-out($color: $orange, $amount: 0.1);
  }

  & > #nav-check {
    display: none;
  }

  @include tablet {
    & > &-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    & > &-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    & > &-btn > label {
      cursor: pointer;
    }

    & > &-btn > label:hover,
    & #nav-check:checked ~ &-btn > label {
      background-color: $white;
    }
    & > &-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid $body;
    }
    & > &-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(199 241 255 / 55%);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    & > &-links > a {
      display: block;
      width: 100%;
      @include set-font-size(2);
    }
    & > #nav-check:not(:checked) ~ &-links {
      height: 0px;
    }
    & > #nav-check:checked ~ &-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
}

/* --------------------------- social media layout -------------------------- */

.footer-social {
  // width: 350px;
  display: block;
  margin: 0 auto 0 0;
  padding-bottom: 80px;

  & {
    .footer-social__title {
      @include set-font-size(1.4);
    }

    .footer-social__list {
      color: $white;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & {
        .footer-social__list__item {
          vertical-align: top;
          display: inline;
        }

        .footer-social__list__link {
          background-color: transparent;
          color: $body;
          text-decoration: none;

          & {
            .fa-facebook {
              padding: 10px 14px;
              -o-transition: 0.5s;
              -ms-transition: 0.5s;
              -moz-transition: 0.5s;
              -webkit-transition: 0.5s;
              transition: 0.5s;
              // background-color: #322f30;
            }
            .fa-facebook:hover {
              background-color: #3d5b99;
            }
            .fa-twitter {
              padding: 10px 12px;
              -o-transition: 0.5s;
              -ms-transition: 0.5s;
              -moz-transition: 0.5s;
              -webkit-transition: 0.5s;
              transition: 0.5s;
              // background-color: #322f30;
            }
            .fa-twitter:hover {
              background-color: #00aced;
            }
            .fa-rss {
              padding: 10px 14px;
              -o-transition: 0.5s;
              -ms-transition: 0.5s;
              -moz-transition: 0.5s;
              -webkit-transition: 0.5s;
              transition: 0.5s;
              // background-color: #322f30;
            }
            .fa-rss:hover {
              background-color: #eb8231;
            }
            .fa-youtube {
              padding: 10px 14px;
              -o-transition: 0.5s;
              -ms-transition: 0.5s;
              -moz-transition: 0.5s;
              -webkit-transition: 0.5s;
              transition: 0.5s;
              // background-color: #322f30;
            }
            .fa-youtube:hover {
              background-color: #e64a41;
            }
            .fa-linkedin {
              padding: 10px 14px;
              -o-transition: 0.5s;
              -ms-transition: 0.5s;
              -moz-transition: 0.5s;
              -webkit-transition: 0.5s;
              transition: 0.5s;
              // background-color: #322f30;
            }
            .fa-linkedin:hover {
              background-color: #0073a4;
            }
            .fa-github {
              padding: 10px 14px;
              -o-transition: 0.5s;
              -ms-transition: 0.5s;
              -moz-transition: 0.5s;
              -webkit-transition: 0.5s;
              transition: 0.5s;
              // background-color: #322f30;
            }
            .fa-github:hover {
              background-color: #5a32a3;
            }
          }
        }
      }
    }
  }
}
